h1{
    text-align: center;
}

#nav {
    align-content: center;
    text-align: center;
}

#aboutus {
    width: 100%;
}

#eventcalendar {
    display: none;
}

#pricingavailability {
    display: none;
}

.nav-item {
    background-color: gray;
    border: solid .2em black; 
    margin: .1em;
}

.nav-item:hover {
    background-color: lightgray;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
}

.active {
    text-decoration: underline;
    background-color: skyblue;
}
